<div class="interior_13">
    <div class="responsive-container-block big-container">
      <div class="responsive-container-block container">
        <div class="responsive-container-block">
          <div class="orange-card">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6" id="i7wk">
            <div class="card-content">
              <p class="text-blk section-head">
                Get in touch
              </p>
              <p class="text-blk sub-head">
               Have questions or feedback? Contact us today and our support team will assist you in no time. Your learning journey matters to us!</p>
              <form class="form-box">
                <input class="input" name="Email" placeholder="Your Email">
                <button class="submit-btn">
                  Submit
                </button>
              </form>
            </div>
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6 img-one" id="iwgx">
            <img class="img-sofa3" id="isvcn" src="https://img.freepik.com/premium-photo/latin-young-woman-sitting-outdoor-stairs-with-laptop-writing_191555-4252.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>