<div class="interior_13">
    <div class="responsive-container-block big-container">
      <div class="responsive-container-block container">
        <div class="responsive-container-block">
          <div class="orange-card">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6" id="i7wk">
            <div class="card-content">
              <p class="text-blk section-head">
                Get in touch
              </p>
              <p class="text-blk sub-head">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              </p>
              <form class="form-box">
                <input class="input" name="Email" placeholder="Your Email">
                <button class="submit-btn">
                  Submit
                </button>
              </form>
            </div>
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-ipadp-12 wk-desk-6 img-one" id="iwgx">
            <img class="img-sofa3" id="isvcn" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Mask%20Group%20215.png">
          </div>
        </div>
      </div>
    </div>
  </div>