
    <div class="thumbnail">
      <div class="frame-parent">
        <div class="frame-group">
          <div class="e-course-platform-parent">
            <b class="e-course-platform">E-COURSE PLATFORM</b>
            <div class="learning-and-teaching-online-parent">
              <div class="learning-and-teaching-container">
                <p class="learning-and">Learning and</p>
                <p class="learning-and">teaching online,</p>
                <p class="learning-and">made easy.</p>
              </div>
              <div class="gain-subject-certification-container">
                <p class="learning-and">
                  Gain subject certification 
                </p>
                <p class="learning-and">
                  while learning online with GlobalTeach.
                </p>
              </div>
            </div>
          </div>
          </div>
        </div>
          </div>
  <div class="additional-content">
              <div class="frame-parent">
                <div class="frame-group">
                  <div class="e-course-platform-parent">
                    <b class="e-course-platform">E-COURSE PLATFORM</b>
                    <div class="learning-and-teaching-online-parent">
                      <div class="learning-and-teaching-container">
                        <p class="learning-and">Learning and</p>
                        <p class="learning-and">teaching online,</p>
                        <p class="learning-and">made easy.</p>
                      </div>
                      <div class="gain-subject-certification-container">
                        <p class="learning-and">
                          Gain subject certification 
                        </p>
                        <p class="learning-and">
                          while learning online with GlobalTeach.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vector-parent"></div>
            </div>
       
  <div class="frame-group">
              <div class="image-area">
                  <img src="assets\sagegreen.jpg" alt="Course Image">
              </div>
            
    

