
<mat-toolbar class="app-header white-toolbar">

<div>
  <a href="landing-page.component.html"><img src="your-logo.png" alt="Your Logo"></a>

    <h1>GlobalTeach</h1>
   
 
  </div>
  <span class="nav-tool-items">
    <a routerLink="landing-page" routerLinkActive="active"></a>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button routerLink="register" routerLinkActive="active">Register</a>
    <a mat-button routerLink="contact" routerLinkActive="active">Contact Us</a>
    <a mat-button routerLink="courses" routerLinkActive="active">Courses</a>
 
  </span>
  
</mat-toolbar>

<router-outlet></router-outlet>
