<h2 class="heading">Most Popular Certificates</h2>

<div class="container">
  <!-- First item -->
  <div class="overlay">
    <div class="items">
      <div class="image-container">
        <img src="image1.jpg" alt="Python Course">
      </div>
      <div class="text-container">
        <div class="head">
          <p>Python course</p>
          <hr>
        </div>
        <div class="price">
          <p class="old">Rs.699</p>
          <p class="new">Rs.345</p>
        </div>
        <div class="cart">
          
          <span>Learn</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- First item -->
    <div class="overlay">
      <div class="items">
        <div class="image-container">
          <img src="image1.jpg" alt="Python Course">
        </div>
        <div class="text-container">
          <div class="head">
            <p>Python course</p>
            <hr>
          </div>
          <div class="price">
            <p class="old">Rs.699</p>
            <p class="new">Rs.345</p>
          </div>
          <div class="cart">
            <i class="fa fa-shopping-cart"></i>
            <span>Learn</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- First item -->
      <div class="overlay">
        <div class="items">
          <div class="image-container">
            <img src="image1.jpg" alt="Python Course">
          </div>
          <div class="text-container">
            <div class="head">
              <p>Python course</p>
              <hr>
            </div>
            <div class="price">
              <p class="old">Rs.699</p>
              <p class="new">Rs.345</p>
            </div>
            <div class="cart">
              <i class="fa fa-shopping-cart"></i>
              <span>Learn</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- First item -->
        <div class="overlay">
          <div class="items">
            <div class="image-container">
              <img src="image1.jpg" alt="Python Course">
            </div>
            <div class="text-container">
              <div class="head">
                <p>Python course</p>
                <hr>
              </div>
              <div class="price">
                <p class="old">Rs.699</p>
                <p class="new">Rs.345</p>
              </div>
              <div class="cart">
                <i class="fa fa-shopping-cart"></i>
                <span>Learn</span>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- First item -->
          <div class="overlay">
            <div class="items">
              <div class="image-container">
                <img src="image1.jpg" alt="Python Course">
              </div>
              <div class="text-container">
                <div class="head">
                  <p>Python course</p>
                  <hr>
                </div>
                <div class="price">
                  <p class="old">Rs.699</p>
                  <p class="new">Rs.345</p>
                </div>
                <div class="cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Learn</span>
                </div>
              </div>
            </div>
          </div>


</div>

